html {
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dadee1;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

form {
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  max-width: 500px;
}

.row {
  padding: 30px 20px;
}

#layout-row {
  margin-bottom: -20px;
}

table {
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
}
table thead {
  background-color: #ef5350;
  color: white;
  font-size: 15px;
}

/* Course Table Component */
.schedule-scroll {
  max-height: 400px;
  overflow: auto;
}
table th, table.highlight td {
  padding: 8px 0px;
  text-align: center;
}

/* Course Search Component */
.s-search-component {
  background-color: white;
  padding: 10px 20px;
  border-radius: 16px;
}
h5 {
  font-weight: bold;
  text-align: center;
}
.s-search-component > p {
  margin-bottom: 0px;
  font-size: 12px;
}
select.browser-default {
  font-size: 14px;
  margin-bottom: 8px;
  height: 35px;
}
.splitscreen {
  display:flex;
  justify-content: space-between;
}
.splitscreen #course-description {
  font-size: 11px;
}
.splitscreen #add-button-loc {
  margin-left: auto;
}
#add-button {
  width: 85px;
}


/* Calendar Component */
.cal-component {
  margin: 10px 30px 60px 30px;
}

.hr-title tr, td{
  font-size: 11px;
  margin: 0px;
  padding: 0px 10px;
}
.main-hr-title {
  font-size: 12px;
  font-weight: bold;
}